<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <title>Interview Simulator</title>

  </head>
  <body text-align="justify">
    <a href="/">
      <img src = "/static/CSS/images/head.png" width="100%">
    </a>
    <br>

  {% block body %}

<br>

<div style="width:70%; text-align:justify; display:inline-block;">

  <h2 style="font-size: 1em"> What is this platform ? </h2>

  <br>

  <p> This platform provides a tool for job candidates looking for practice regarding interview questions. Our platform allows the candidate to answer typical interview questions either by video or by text. We have developped complex Deep Learning algorithm that analyze the results of the video or the text and provide the candidate a summary of what our algorithm percieved, and how the candidate performed compared to previous candidates.</p>

<br>
  <img src = "/static/CSS/images/process.png" width="80%">
<br>

<br>

  <h2 style="font-size: 1em"> Why this project ? </h2>

  <br>

<p>------------------------ </p>

<br>

<br>
</div>

<div class="github-card" data-github="jgjgjgjgj" data-width="50%" data-height="70%" data-theme="default"></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

<br>
<br>
<div style="width:70%; text-align:justify; display:inline-block;">

  <h2 style="font-size: 1em"> 000000 ? </h2>

  <br>

<div style="align-content:center;">

<table style="align-content:center;"><tr><td align="center">
  <a href="------------">
  <img src="-----------------------" width="100px;" alt="------------"/>
  <br />
  <sub><b>------------------</b></sub>
  </a><br /><a href="hjjj" title="Code">💻</a></td>
  <td align="center"><a href="gghh"><img src="https://avatars0.githubusercontent.com/u/24256555?v=4" width="100px;" alt="mfix22"/>
  <br /><sub><b>---------------</b></sub>
  </a><br /><a href="------------------------" title="Code">💻</a></td>
  <td align="center"><a href="---------------><img src="https://avatars2.githubusercontent.com/u/38351531?v=4" width="100px;" alt="mfix22"/>
  <br /><sub><b>-----------------</b></sub>
  </a><br /><a href="-----------------" title="Code">💻</a></td>
  <td align="center"><a href="ghgeh"><img src="https://avatars0.githubusercontent.com/u/43505879?v=4" width="100px;" alt="mfix22"/>
  <br /><sub><b>STF-R</b></sub>
  </a><br /><a href="?author=STF-R" title="Code">💻</a></td>
  
</tr></table>
</div>
  </div>

<br>
<br>
<br>

  <form>
    <input type="button" value="Back" onclick="history.go(-1)">
  </form>

  <br>

</body>


{% endblock %}